
<div class="border-bottom mt-4 row">
  <div class="col-10">
  <h5 class="mt-100">{{news['title']}}</h5>
  <p>{{news['summary']}}</p>
  </div>
  <div class="col-2">
  <!-- <button type="button" class="btn btn-outline-primary mb-4" href="mailto:tanmaycodes9@gmail.com?cc=ajaykedia@gmail.com&bcc=haitsavla@gmail.com&subject=Here%20from%20the%20Kedia%20Capital%20News%20Delivery%20Website">Expand news</button> -->
    <a href="mailto:tanmaycodes9@gmail.com?cc=ajaykedia@gmail.com&bcc=haitsavla@gmail.com&subject=Here%20from%20the {{news['title']}} %20Kedia%20Capital%20News%20Delivery%20Website">
        <button type="button" class="btn btn-outline-primary mb-4">Expand news</button>
    </a>

  </div>


</div>